$color-white: #ffffff;
$color-blue-berry-b-500: #6464fa;
$color-Gray_2_Paragraph: #676f8f;
$color-neutrals-n-100: #fafbff;
$color-Gray_1_Ttulos: #494f66;
$color-red-rimacr-500-cta: #ff1c44;
$color-Gray_4: #c5cbe0;
$color-neutrals-n-500: #a9afd9;
$color-atom_checkbox_solid: #389e0d;
$color-neutrals-n400: #d7dbf5;
$color-acian_2_hover: #6f7dff;
$color-neutrals-n-200: #edeffc;
$color-acian-1: #939dff;
